body {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
}

.navbar-inverse .navbar-inner {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #282828;
    border: none;
}

.page-header {
    border: none;
    padding: 10px 0px 0px;
    margin: 0px 0 0px;
}

.brand {
    margin-left: 20px;
    font-weight: 700;
}

.thumbnail {
    border: none;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 20px;
}

.thumbnail img {
    min-width: 100%;
    height: auto;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.tab-content .tab-pane {
    max-height: 600px;
    position: relative;
    overflow: auto;
}

.fixed-top {
    position: fixed;
    top: 0px;
    bottom: 0px;
    display: inline-block;
    max-width: 360px;
    z-index: 1030;
}

footer {
    padding-top: 40px;
    margin-top: 40px;
    border-top: 1px solid #dedede;
}

.related-projects {
    padding-top: 40px;
    margin-top: 40px;
}


/*************** @media ******************/

@media (max-width: 940px) {
    .brand {
        display: block;
        text-align: center;
        font-size: 26px;
    }
}

@media (max-width: 1200px) and (min-width: 940px) {
    .fixed-top {
        max-width: 300px;
    }
}

@media (max-width: 940px) and (min-width: 768px) {
    .fixed-top {
        max-width: 225px;
    }
}